.item-sell-cont{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(150, 232, 218, 0.78);
    /* padding: 2rem; */
    z-index: 10;
    position: relative;
    font-family: roboto;
    font-size: 0.7rem;
    margin: 3rem;
    justify-content: center;
}

.err_itmmsg{
    position: relative;
    z-index: 10;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.err_itmmsg>div{
    padding: 1rem;
}

.noitemtosee>h2{
    background-color: rgba(255, 198, 92, 0.678);
    padding: 1rem;
    z-index: 10;
    position: relative;
    border-radius: 5px;
    font-family: roboto;
}

.forPaginate{
    z-index: 5;
    position: relative;
    text-align: center;
    font-family: roboto;
    font-size: 0.8rem;
}

.pagination {
    text-align: center;
    margin-top: 0.5rem;
    list-style: none;
    margin-bottom: 2rem;
  }

.pagination li {
    display: inline-block;
    padding: 0.2rem;
}

.pagination a {
    text-decoration: none;
    padding: 0.2rem 0.4rem;
    color:  black;
    background-color:  rgba(241, 236, 225, 1);
    border-radius: 2px;
  }

.item-sell-cont>div{
    padding: 1rem;
}

.amount-cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.amount-cont>div>input{
    width: 1.7rem;
    /* border: none; */
    padding: 0rem;
}

.amount-cont>div>button{
    background-color: rgba(0, 153, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.detail-item-conf{
    background-color: white;
    padding-bottom: 1rem;
    border-radius: 5px;
    width: 9rem;
    overflow: hidden;
}

.detail-conf-text>div{
    padding: 0.4rem;
}

.item-foto-cont{
    width: inherit;
    height: 9rem;
    overflow: hidden;
    justify-content: center;
}

.item-foto-cont>div>img{
    width: 9rem;
}